@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Roboto&display=swap");

* {
  padding: 0;
  border: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --white: #f2f2f2;
  --purpleLight: #998da6;
  --purpleDark: #353340;
  --fontBig: 3rem;
  --fontMedium: 2.25rem;
  --fontSmall: 1.25rem;
  --oleoScript: "Oleo Script", cursive;
  --roboto: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: var(--purpleLight);
}
::-webkit-scrollbar-thumb {
  border-radius: 1.25rem;
  background-color: var(--purpleDark);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--roboto);
  font-size: var(--fontSmall);
  color: var(--purpleDark);
  background: var(--white);
}

.container {
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.625rem 0.625rem 1.25rem rgba(0, 0, 0, 0.6);
}
header {
  width: 90%;
  position: fixed;
  height: 4rem;
  display: flex;
  align-items: center;
  background:var(--white);
  box-shadow: 0 0.625rem .9rem rgba(0, 0, 0, 0.6);
}

.logo {
  position: absolute;
  left: 0;
  margin-left: 1.25rem;
  width: 4.4rem;
  height: 4.7rem;
}
.logo img {
  width: 100%;
}

nav {
  margin: 0 auto;
}

#list {
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: currentColor;
}

.menu,
.menu::after,
.menu::before,
.exit::before,
.exit::after {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 0.25rem;
  left: 0px;
  border-radius: 0.62rem;
  background: var(--purpleDark);
  cursor: pointer;
}
.menu, .exit {
  margin-left: 0.62rem;
  display: none;
}
.menu::before {
  bottom: 0.62rem;
}
.menu::after {
  top: 0.62rem;
}

.exit {
    z-index: 2;
}
.exit::before {
  transform: rotate(45deg);
}
.exit::after {
  transform: rotate(-45deg);
}

nav ul {
  width: 34.3rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  gap: 1.87rem;
}

.collapse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  /* background: var(--white); */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.6);
}
.collapse li {
  width: 100%;
  height: 10%;
  cursor: pointer;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.collapse li:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.button {
  position: absolute;
  top: 0.62rem;
  right: 0.62rem;
  width: 4.5rem;
  height: 1.87rem;
  border-radius: 1.25rem;
  border: 0.19rem solid var(--purpleLight);
  background: var(--purpleDark);
}

.ball {
  position: relative;
  top: -3px;
  left: -1px;
  width: 1.87rem;
  height: 1.87rem;
  border-radius: 100%;
  cursor: pointer;
  background: var(--purpleLight);
  transition: left ease-in-out 1s;
}
.ball-move {
  left: calc(100% - 1.87rem);
}

.dark {
  background: #1f0321;
}

.start,
.about,
.skill,
.lab,
.contact {
  margin-top: 5rem;
  display: flex;
  width: 95%;
  height: 25rem;
}
.start h2 {
  color: var(--purpleLight);
  font-size: var(--fontSmall);
  margin: 0.18rem 0;
}

.box {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  margin: auto;
}
.image img {
  width: 100%;
}

h1 {
  font-size: var(--fontMedium);
  font-family: var(--oleoScript);
}

.aboutBox {
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  margin: 0 40px;
  border-radius: 100%;
  border: 0.31rem solid var(--purpleLight);
}

.circle img {
  width: 90%;
  border-radius: 100%;
}

.icons {
  margin: 1.25rem 0;
  display: flex;
  gap: 1.25rem;
}

.icons img,
.contacts img {
  width: 2rem;
  height: 2rem;
}

.title {
  text-align: center;
}
h1 .letter {
  font-size: var(--fontBig);
  color: var(--purpleLight);
}

.skills {
  flex-direction: column;
  align-items: center;
}

.carrousel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3.125rem;
  margin-right:.5rem;
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.31rem rgba(0, 0, 0, 0.4);
}
.carrousel div {
  margin: 1.25rem 0;
}
.carrousel img {
  width:100%;
  margin-right: -.5rem;
  border-radius: 100%;
  background: var(--white);
  border: 0.31rem solid var(--purpleLight);
  transition: .3s all ease;
}

.carrousel div:hover {
  transform: scale(1.3);
}

.orange {
  color: #e44f26;
}
.blue {
  color: #1572b6;
}
.yellow {
  color: #f5de19;
}
.purple {
  color: #5b4083;
}
.black {
  color: #303030;
}

.lab {
  justify-content: center;
}

.contact {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3.125rem;
}

.contacts {
  margin: 3.125rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  display: flex;
  text-align: center;
  align-items: center;
  flex: 1 1 150px;
  margin: .4rem 0;
}

.contacts a {
  text-decoration: none;
  font-family: var(--oleoScript);
  color: var(--purpleDark);
  margin-left: .4rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  font-family: var(--oleoScript);
  background: var(--purpleLight);
}

@media screen and (max-width: 860px) {
  .logo,
  nav ul, .image  {
    display: none;
  }
  .menu {
    display: block;
  }
  .start{
    margin: 0;
    max-height: 25rem;
    flex-direction: column-reverse;
    align-items: center;
  }
  .box {
    margin: 0;
    width: 85%;
  }
  .about .content {
    margin-right: 20px;
  }
  .carrousel img {
    width: 80%;
  }
}
@media screen and (max-width: 746px) {
  .about {
    width: 80%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20rem;
  }
  .skills {
    margin-top: 5rem;
  }
  .contacts .item {
    justify-content: flex-start;
    width: 1.125rem;
  }
}
